.wiz-fileInput {
    .dargFile {
        display: flex;
        flex-wrap: wrap;

        .dargImg {
            img {
                width: 150px;
                height: 150px;
            }

            ul {
                display: inline-flex;
                flex-wrap: wrap;

                li {
                    margin: 0 10px;
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;

                    a {
                        display: block;
                        position: relative;
                    }

                    &:hover {
                        .tools-top {
                            top: 0;
                        }
                    }
                }
            }

            .tags {
                display: inline-block;
                position: absolute;
                bottom: 0;
                right: 0;
                overflow: visible;
                direction: rtl;
                padding: 0;
                margin: 0;
                height: auto;
                width: auto;
                background-color: transparent;
                border-width: 0;
                vertical-align: inherit;

                .label-holder {
                    opacity: 0.92;
                    display: table;
                    margin: 1px 0 0 0;
                    direction: ltr;
                    text-align: left;

                    .el-checkbox {
                        line-height: normal;
                        height: auto;
                    }

                    .el-button {
                        background-color: #D15B47 !important;
                        border-color: #D15B47;
                        border-width: 2px;
                        padding: 0;

                        &:hover {
                            background-color: #B74635 !important;
                            border-color: #D15B47;
                        }
                    }
                }
            }

            .tools-top {
                position: absolute;
                transition: all 0.2s ease;
                height: 28px;
                left: 0;
                right: 0;
                top: -30px;
                bottom: auto;
                text-align: center;
                z-index: 1;
                background-color: rgba(0, 0, 0, 0.55);

                .el-button {
                    font-size: 12px;
                    margin: 0;
                    padding: 4px;
                    background-color: #6FB3E0 !important;
                    border-color: #6FB3E0;
                    border-width: 2px;

                    &:hover {
                        background-color: #4F99C6 !important;
                        border-color: #6FB3E0;
                    }
                }
            }

            .text-inner {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: #FFF;
                background-color: rgba(0, 0, 0, 0.55);

                .inner {
                    display: inline-block;
                    padding: 4px 0;
                    margin: 0;
                    max-width: 90%;
                }
            }
        }

        .uploadArea {
            input {
                display: none;
            }

            .fileArea {
                width: 300px;
                height: 150px;
                text-align: center;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                background-color: #fff;
                border: 1px dashed #d9d9d9;
                border-radius: 6px;
                box-sizing: border-box;

                .el-icon-upload {
                    font-size: 60px;
                    color: #c0c4cc;
                    margin: 20px 0 15px;
                }

                .el-upload__text {
                    text-align: center;
                    color: #606266;
                    font-size: 14px;

                    em {
                        color: #409eff;
                        font-style: normal;
                    }
                }
            }
        }
    }

    .el-dialog__wrapper {
        .el-dialog__header {
            border-bottom: 1px solid #e5e5e5;
        }

        .el-dialog__body {
            .ace-file-input {
                display: block;
                font-size: inherit;
                position: relative;
                height: 30px;
                max-width: 300px;

                input {
                    display: none;
                }

                .ace-file-container {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 30px;
                    background-color: #FFF;
                    border: 1px solid #D5D5D5;
                    cursor: pointer;
                    box-shadow: none;
                    transition: all 0.15s;

                    &::before {
                        display: inline-block;
                        content: attr(data-title);
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        line-height: 24px;
                        text-align: center;
                        padding: 0 8px;
                        background-color: #6FB3E0;
                        color: #FFF;
                        font-size: 11px;
                        font-weight: bold;
                        border: 2px solid #FFF;
                        border-left-width: 4px;
                        transition: all 0.3s;
                    }

                    .ace-file-name {
                        display: inline-block;
                        height: 28px;
                        max-width: 80%;
                        white-space: nowrap;
                        overflow: hidden;
                        line-height: 28px;
                        color: #888;
                        font-size: 13px;
                        vertical-align: top;
                        position: static;
                        padding-left: 30px;

                        &::after {
                            display: inline-block;
                            content: attr(data-title);
                        }

                        .el-icon-upload {
                            display: inline-block;
                            position: absolute;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            line-height: 24px;
                            width: 26px;
                            text-align: center;
                            font-family: FontAwesome;
                            font-size: 13px;
                            border: 2px solid #FFF;
                            color: #FFF;
                            transition: all 0.1s;
                            background-color: #D1D1D1;
                        }
                    }
                }

                .remove {
                    position: absolute;
                    right: -20px;
                    top: 6px;
                    display: inline-block;
                    width: 17px;
                    text-align: center;
                    height: 17px;
                    line-height: 15px;
                    font-size: 11px;
                    font-weight: normal;
                    background-color: #FB7142;
                    border-radius: 100%;
                    color: #FFF;
                    text-decoration: none;
                }
            }

            .language-content {
                .content-list {
                    padding: 16px 12px;
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                }

                li {
                    border: 1px solid #C5D0DC;
                    background-color: #F9F9F9;
                    color: #999;
                    margin-right: -1px;
                    line-height: 18px;
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    padding: 7px 12px 8px;

                    &.lang-active {
                        color: #576373;
                        border-color: #C5D0DC;
                        border-top: 2px solid #4C8FBD;
                        border-bottom-color: transparent;
                        background-color: #FFF;
                        z-index: 1;
                        line-height: 18px;
                        margin-top: -1px;
                        box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.15);
                    }
                }
            }
        }

        .el-dialog__footer {
            padding-top: 12px;
            padding-bottom: 14px;
            border-top-color: #E4E9EE;
            box-shadow: none;
            background-color: #EFF3F8;

            .el-button {
                background-color: #ABBAC3;
                border-color: #ABBAC3;

                &:hover,
                &:active,
                &:focus {
                    background-color: #8B9AA3;
                    border-color: #ABBAC3;
                }
            }
        }
    }
}