.btn {
    border-radius: 0;
    vertical-align: top;
    border: 5px solid transparent;
    outline: none;
    color: #fff;

    &:focus,
    &:active,
    &:hover {
        color: #fff;
        box-shadow: 0 0 0 !important;
    }
}

.btn-lineheight {
    line-height: 13px;
}

.btn-primary {
    background-color: #428BCA;
    border-color: #428BCA;

    &:hover,
    &:active,
    &:focus {
        background-color: #1B6AAA !important;
        border-color: #428BCA !important;
    }
}

.btn-back {
    color: #fff;
    background-color: #ABBAC3;
    border-color: #ABBAC3;

    &:hover,
    &:active,
    &:focus {
        color: #fff;
        background-color: #8B9AA3 !important;
        border-color: #ABBAC3 !important;
    }
}

.btn-preview {
    background-color: #6FB3E0;
    border-color: #6FB3E0;

    &:hover,
    &:active,
    &:focus {
        background-color: #4F99C6 !important;
        border-color: #6FB3E0 !important;
    }
}

.btn-approval {
    background-color: #87B87F;
    border-color: #87B87F;

    &:hover,
    &:active,
    &:focus {
        background-color: #629B58 !important;
        border-color: #87B87F !important;
    }
}

.btn-release {
    background-color: #D15B47;
    border-color: #D15B47;

    &:hover,
    &:active,
    &:focus {
        background-color: #B74635 !important;
        border-color: #D15B47 !important;
    }
}

.el-tree {
    label {
        margin: 0;
        margin-right: 8px;
    }
}

.no-margin {
    margin: 0 !important;
}

.el-form-item.is-success {

    .el-input__inner,
    .el-textarea__inner {
        border-color: #DCDFE6;

        &:focus {
            border-color: #DCDFE6;
        }
    }
}

.el-picker-panel {
    .el-button {
        color: inherit;
        border: 1px solid #DCDFE6;

        &--text {
            color: #409EFF;
            border: none;
        }
    }
}

.necessary {
    color: #D53F40;
}

.mandatory {
    color: #D53F40;
    border-color: #D53F40;
}

.noResults {
    padding: 10px;
}

ul.language {
    display: flex;
    flex-wrap: wrap;

    li {
        position: relative;
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #C5D0DC;
        cursor: pointer;
        margin-right: -1px;
        margin-bottom: -1px;
        color: #999;
        background-color: #F9F9F9;

        &.lang-active {
            border-bottom-color: transparent;
            background-color: #fff;
            border-top: 2px solid #4C8FBD;
            margin-top: -1px;
            box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.15);
            color: #576373;
            margin-bottom: -2px;
        }

        span {
            position: absolute;
            top: 50%;
            right: 2px;
            transform: translateY(-50%);
            display: none;
        }

        &:hover {
            span {
                display: block;
            }
        }
    }
}

.mgto-content {
    margin: 100px;

    .row {
        margin: 0;
    }

    .el-button {
        outline: none;
    }

    .add-modal {
        .el-select {
            width: 100%;
        }

        .el-button {
            border: 1px solid #DCDFE6;
            color: #606266;

            &:hover,
            &:focus {
                color: #409EFF;
            }

            &--primary {
                color: #fff;

                &:hover,
                &:focus {
                    color: #fff;
                }
            }
        }
    }

    .updateDiaglog {
        .el-dialog {
            width: 80%;
        }

        button {
            outline: none;
        }

        .el-dialog__body {
            padding: 0;

            .label {
                padding: 20px;
            }

            .tree-label {
                .el-tree {
                    max-height: 250px;
                    overflow: auto;
                    margin-bottom: 20px;
                }

                .tree-button {
                    button {
                        padding: 6px 12px;
                        background-color: #337ab7;
                        border-color: #2e6da4;
                        border-width: 2px;
                        border-radius: 4px;

                        &:hover {
                            background-color: #286090;
                            border-color: #204d74;
                        }
                    }
                }
            }

            .label-addTag {
                .addTag-header {
                    background-color: #eee;
                    color: #000;
                    clear: both;
                    padding: 12px 20px;

                    p {
                        display: inline-block;
                    }

                    button {
                        background-color: #eee;
                        color: #333;
                        border-width: 0;
                        padding: 0;
                        float: right;
                        font-size: 15px;

                        &:hover {
                            i {
                                color: #409EFF;
                            }
                        }
                    }
                }

                .addTag-content {
                    padding: 8px 20px 24px;
                    max-height: 500px;
                    overflow: auto;

                    .lang-titles {

                        .title-list {
                            border: 1px solid #C5D0DC;
                            padding: 20px;

                            p {
                                text-align: right;
                                padding-right: 12px;

                                @media screen and (max-width: 767px) {
                                    text-align: left;
                                }
                            }

                            textarea {
                                height: 150px;
                            }

                            >div:not(:last-child) {
                                margin-bottom: 22px;
                            }
                        }
                    }

                    .form-action {
                        padding: 20px;
                        background-color: #eee;
                    }
                }
            }
        }
    }

    .preview-modal {
        .el-dialog {
            width: 80%;
        }

        .preview-wrapper-content {
            border: 1px solid #C5D0DC;
            padding: 16px 12px;

            .preview-content-header {
                border-bottom: 1px solid #eee;
                padding-bottom: 20px;

                .newTag {
                    display: inline-block;
                    background: #2B7DBC;
                    color: #fff;
                    padding: .3em;
                    border-radius: .3em;
                    margin: 2px .3em;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .preview-content-detail {
                p {
                    margin: 10px 0;
                }

                >div {
                    padding: 20px 0;

                    h5 {
                        margin-top: 0;
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid #eee;
                    }
                }
            }
        }
    }

    .form-group {
        margin: 15px 0;

        .col-form-label {
            text-align: right;
        }
    }

    .form-actions {
        margin: 30px 0 0;
        background-color: #F5F5F5;
        border-top: 1px solid #E5E5E5;
        padding: 20px;

        >*:not(:last-child) {
            margin-right: 20px;
        }
    }

    .wiz-fileInput {
        .el-collapse-item {

            .el-collapse-item__header {
                background-color: #82AF6F;
                height: 32px;

                >div {
                    width: 95%;
                    height: 32px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    cursor: auto;

                    button,
                    label {
                        margin-left: 10px;
                    }
                }
            }

            .el-button {
                font-size: 13px;
                padding: 4px 9px;
                background-color: #9585BF;
                border-color: #9585BF;

                &:hover {
                    background-color: #7461AA;
                    border-color: #9585BF;
                }
            }

            .el-checkbox {
                height: 31px;
                line-height: 31px;
                margin: 0;
            }

            .el-collapse-item__wrap {
                border: 1px solid #82AF6F;
                border-top: none;

                .el-collapse-item__content {
                    padding: 0;
                }

                .dargFile {
                    padding: 12px;
                }
            }
        }
    }
}

.multilingualism {
    .language {

        .el-button {
            border: 1px solid #DCDFE6;
            color: #606266;
        }
    }

    .multilin-text {
        padding: 16px 12px;
        border: 1px solid #C5D0DC;
        position: relative;

        .complexity {
            position: absolute;
            z-index: 99;
            top: 16px;
            left: 12px;
        }

        >div:not(:last-child) {
            margin-bottom: 20px;
        }

        p {
            padding-right: 12px;
            text-align: right;
            margin: 0;
        }

        textarea {
            width: 100%;
            height: 150px;
            padding: 5px 9px;
            color: #696969;
            border-color: #D5D5D5;

            &:focus {
                border-color: #F59942;
                background-color: #FFF;
                outline: none;
            }
        }

        [class^='col-md'] {
            padding-right: 0;
        }
    }

}

@media screen and (max-width: 768px) {
    .mgto-content {
        margin: 0;
        margin: 10px;

        [class^='col-md'] {
            padding: 0;
        }

        .form-group .col-form-label {
            text-align: left;
        }
    }

    .multilingualism .multilin-text {
        .title-mult {
            margin-top: 40px;
        }

        p {
            text-align: left;
        }
    }

    .form-group {
        .form-row {
            >* {
                flex-basis: 100%;
            }
        }
    }
}