@media (min-width: 992px) {
    .modal-dialog {
        // max-width: initial;
        width: 900px !important;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        max-width: initial;
        width: 600px;
    }
}